.navbar {
    margin-bottom: 0;
    min-height: 55px;
}
.navbar-default {
    background: #eee;
}
.navbar-brand {
    padding: 5px 15px;
}
.navbar-brand h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: #333;
}
.navbar-brand h1 span {
    display: inline-block;
    color: green;
    margin-left: 5px;
}
.navbar-brand img {
    display: inline-block;
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

.top-container {
    margin-top: 75px;
}

.jumbotron {
    background: none;
    padding: 5px 0;
    margin-bottom: 0;
}
.jumbotron h2 {
    font-size: 36px;
}

footer p {
    text-align: right;
}

.signup.container form,
.login.container form {
    padding-top: 70px;
    max-width: 300px;
    margin: 0 auto;
}

.table th {
    text-align: center;
}
#portfolio table td:nth-child(n+2):nth-child(-n+9) {
    text-align: right;
}
.table form {
    margin-bottom: 0;
}
.table td i.sm {
    font-size: 12px;
}
.table tr.totals td {
    font-weight: bold;
}
